body {
	background-color: #0f0f0f;
	color: #f0f0f0;
	padding: 5px;
	maring: 0px;
}

table {
  border: 1px solid #4f4f4f;
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  float: left;
} 

th, td {
  border: 1px solid #4f4f4f;
}

a {
  color: cyan;
}
.full {
  width: 88%;
}
.c-td {
  text-align: center;
  width: 6%;
}

.textbox {
  width: 90%;
  background-color: #4f4f4f;
  color: #f4f4f4;
  border: 2px solid #4f4f4f;
  box-sizing: border-box;
  float: left;
}
.btn {
  width: 10%;
  color: #f0f0f0;
  background-color: #009a50;
  border: 2px solid #009a50;
  box-sizing: border-box;
  float: left;
}
